.details-container {
	background-color: #F1F4F8;
	padding: 12px;
	margin: 10px;
	border-radius: 0 0 4px 4px;
	display: inline-block;
	vertical-align: top;
	box-shadow: -3px 6px 14px 0px rgba(0,0,0,0.1)
}

.title, .paid-for, .text, .sub {
	margin: 10px 0;
	width: 500px;
}

.text {
	font-weight: normal;
}

.sub {
	color: #B2B2B2;
}

.modal-content {
	display: flex;
	margin: 12px;
}

.right-rail {
	margin: 12px;
}
