{
    "extends": [
        "@quartz/eslint-config-react"
    ],
    "parser": "babel-eslint",
    "rules": {
        "react/prop-types": 0,
        "jsx-a11y/label-has-associated-control": 0,
        "jsx-a11y/label-has-for": 0
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    [
                        "components",
                        "./src/components"
                    ],
                    [
                        "routes",
                        "./src/routes"
                    ],
                    [
                        "api",
                        "./src/api"
                    ],
                    [
                        "utils",
                        "./src/utils"
                    ]
                ],
                "extensions": [
                    ".js",
                    ".jsx",
                    ".json"
                ]
            }
        }
    }
}
