.layout {
	display: flex;
	overflow-y: scroll;
	max-width: 2100px;
}

.left-rail {
	width: 23%;
	min-width: 300px;
	min-height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	overflow-x: scroll;
}

.content {
	padding: 20px;
	background-color: #EEEEEE;
	flex-grow: 1;
}

.target-list {
	list-style: none;
	padding: 0;
}

.target-item { 
	margin: 12px 0;
}

.target-details {
	font-size: 16px;
}

.target-details:hover {
	cursor: pointer;
}

.target-details > summary:focus {
	outline: none;
}