.layout {
	display: flex;
	overflow-y: scroll;
	max-width: 2100px;
}

.left-rail {
	width: 20%;
	min-width: 300px;
	min-height: 100vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.content {
	padding: 20px;
	background-color: #EEEEEE;
	flex-grow: 1;
}